#wpadminbar {
	transition: all .3s ease-in;
}
#wpadminbar.top {
	top: 0px;
	bottom: initial;
	opacity: 1;
}
#wpadminbar.bottom {
	bottom: 0px;
	top: initial;
	opacity: 1;
	}
	#wpadminbar.bottom .ab-top-menu>.menupop>.ab-sub-wrapper {
		bottom: 32px;
	}
#wpadminbar.top.hide {
	top: -33px;
}
#wpadminbar.bottom.hide {
	bottom: -33px;
}

@media screen and (max-width: 782px){
	#wpadminbar {
		position: fixed;
	}
	#wpadminbar.top.hide {
		top: -46px;
	}
	#wpadminbar.bottom.hide {
		bottom: -46px;
	}
}
